<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.png">
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W6SFDFT');</script>
    <!-- End Google Tag Manager -->

    <!-- Meta Tags -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{description}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:url" content="https://wvearlychildhoodcouncil.org{{ page.url }}">
    <meta property="og:image" content="/static/img/og-image.jpg">

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

    {% block scripts %}{% endblock %}
  </head>
  <body class="bg-white">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'partials/header.html' %}

    {{ content | safe }}

    {% include 'partials/footer.html' %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>