{% switch params.text.position %}
    {% case 'left' %}
        {% set positionClasses = 'left-0 bottom-[3rem]' %}
    {% case 'right' %}
        {% set positionClasses = 'right-0 bottom-[3rem]' %}
    {% default %}
        {% set positionClasses = 'left-0 bottom-[3rem]' %}
{% endswitch %}
<section class="relative bg-[#efefef]">
    <div class="relative container">
        <img class="object-cover w-[100%] aspect-[1/1] md:aspect-[4/2]" src="https://via.placeholder.com/1200x600" alt="">
        <div class="md:absolute {{ positionClasses }} p-6 md:w-heroCaptionWidth bg-[{{ params.text.backgroundColor }}]">
            <h1 class="text-[{{ params.text.textColor }}]">{{ params.text.title }}</h1>
            <p class="text-lg text-[{{ params.text.textColor }}]">{{ params.text.subtitle }}</p>
        </div>
    </div>
</section>
