<aside class="py-12">
    <div class="container px-default max-w-lg">
        <div class="rounded-lg border-2 border-[rgba(0,0,0,0.1)]">
            <a href="https://www.savethechildren.org" title="Learn more about Save the Children.">
            <picture>
                <source srcset="/static/img/savethechildren_leaderboard-425x120.png"
                        media="(max-width: 767px)">
                <source srcset="/static/img/savethechildren_leaderboard-768x200.png"
                        media="(max-width: 1199px)">
                <img src="/static/img/savethechildren_leaderboard-1200x300.png" alt="Join us and Save the Children to help children grow, learn and thrive." class="w-full">
            </picture>
            </a>
        </div>
    </div>
</aside>