<div class="">
    <div class="border-b border-[rgba(0,0,0,0.1)]">
        <div class="container max-w-lg px-default py-12">
            <h2 class="font-bold text-2xl">Learn By Topic</h2>
            {% include 'blocks/topics-quicknav.html' %}
        </div>
    </div>
    <div class="container max-w-lg px-default">
    {% for topic in collections.topics | sortByKeys(topics_order.settings.topics) %}
        {% if not loop.last %}
        {% set classes = '' %}
        {% endif %}
        {{ component('topic-teaser', {
            title: topic.data.title,
            key: topic.data.eleventyNavigation.key,
            summary: topic.data.summary,
            url: topic.url,
            resources: topic.data.resources,
            bgColor: topic.data.bgColor,
            textColor: topic.data.textColor,
            classes: classes
        }) }}
    {% endfor %}
    </div>
</div>