---
layout: default
title: WV Early Childhood Advisory Council
path: home
description: 'The Early Childhood Advisory Council of West Virginia has been established to provide opportunities for stakeholders to engage in the process of advancing a statewide comprehensive system for the education of young children in West Virginia.         
Periodic Statewide Needs'
---

{% include 'partials/hero.html' %}
{% include 'partials/purpose.html' %}
{% include 'partials/goals.html' %}
{% include 'partials/members.html' %}
{% include 'partials/resources.html' %}
{% include 'partials/contact-form.html' %}