---
layout: default
container: true
title: Resources
subtitle: Hello World
permalink: '/first-1000-days/resources/'
eleventyNavigation:
  order: 0
  title: Resources
  key: resources
  parent: first-1000-days
---
{%- from "system/component.html" import component -%}

<section>
    <header class="py-6 bg-[#2A6B8F] text-white">
        <div class="container max-w-lg mb-6 px-default">
            {{ component('breadcrumbs', {
                items: collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true })
            }) }}
        </div>
        <div class="container max-w-lg px-default">
            <h1 class="text-white text-5xl font-bold tracking-normal">{{ title }}</h1>
        </div>
    </header>
    <div class="py-12 bg-tan">
        <div class="container max-w-lg px-default">
            <h2 class="font-bold text-xl">Browse by Topic</h2>
            {% include 'blocks/topics-quicknav.html' %}
        </div>
    </div>
    <div class="container max-w-lg px-default">
        {% for topic in collections.topics | sortByKeys(topics_order.settings.topics) %}
        <article class="py-12" id="{{ topic.data.id }}">
            <h1 class="text-3xl">{{ topic.data.title }}</h1>
            {% if topic.data.resources %}
            <div class="-ml-4 grid md:grid-cols-2 gap-x-4">
            {% for item in topic.data.resources %}
                {{ component('resource-link', {
                    data: item.resource,
                    title: item.resource.title,
                    source: item.resource.source,
                    url: item.resource.url
                }) }}
            {% endfor %}
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</section>