<section class="pb-12 scroll-mt-48" id="contact">
    <div class="container px-default">
        <h1 class="mb-12 text-center">Contact Form</h1>
        <div class="w-full max-w-[50rem] mx-auto">
            <iframe 
            title="Contact Form" 
            width="800px" 
            height= "1400px" 
            src= "https://forms.office.com/Pages/ResponsePage.aspx?id=S7AZ4AwzekaLrgn7FzdNarRQ65YScdBFosCfkxIak4NUNjJZUzRaMFZSSFIyTjJYUzRBNkhCRjVEUSQlQCN0PWcu&embed=true" 
            frameborder= "0" 
            marginwidth= "0" 
            marginheight= "0" 
            style= "border: 1px solid #dddddd; max-width:100%;" 
            allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        </div>
    </div>
</section>