<section id="purpose" class="py-16 bg-white scroll-mt-32">
    <div class="container max-w-5xl px-default">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-default">
            <div class="md:row-start-1 md:col-start-2">
                <img src="/static/img/kids-purpose2.png" alt="">
            </div>
            <div class="flex flex-col justify-center md:row-start-1 md:col-start-1">
                <h1>Purpose</h1>
                <p class="text-xl">The Early Childhood Advisory Council of West Virginia has been established to provide opportunities for stakeholders to engage in the process of advancing a statewide comprehensive system for the education of young children in West Virginia.</p>
            </div>
        </div>
    </div>
</section>